html, body {
    margin: 0;
    height: 100vh;
    background: rgb(0, 0, 0);
}

#main-container {
    background-image: url('./assets/paperwhite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

main {
    padding-bottom: 100px;
}

#user-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    z-index: 100;
    position: relative;
    height: 50px;
    margin: 15px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

#user-display>* {
    margin: 5px;
}

#user-display input {
    font-size: .6em;
    width: 6em;
    border-radius: 6px;
    transition: background .3s, color 0.6s linear;
    letter-spacing: .09em;
}
#user-display input:hover {
    background: black;
    color: white;
    transform: scale(1.1);
}

#user-display img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#div-header {
    display: flex;
    align-items: center;

    height: 125px;
    border-bottom: solid black 5px;
    background-image: url('./assets/red-background.jpg');
}

#div-header img {
    align-self: flex-start;

    height: 125%;
    width: 420px;
}

#div-header h1 {
    font-family: 'Bangers', cursive;
    font-size: 4.25em;
    letter-spacing: .05em;
    margin-left: 40px;
    text-shadow: 2px 5px 2px rgb(215, 196, 93);
}

#nav-links-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-self: flex-end;
} 

#nav-links-container a {
    position:relative;
    margin: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: white;
    transition: color 0.3s linear;
}
#nav-links-container a:after {
    position:absolute;
    bottom: -2px;
    left: 0;
    display:block;
    content:"";
    width: 100%;
    height: 1px;
    background-color:rgb(255, 218, 6);
    transform:scale3d(0,1,1);
    transition:transform .3s;
}
#nav-links-container a:hover:after {
    transform:scale3d(1,1,1);
    color: rgb(255, 218, 6);
}
#nav-links-container a:visited {
    color: white;
}
#nav-links-container a:visited:hover {
    color:rgb(255, 218, 6);
}

#instructions {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#alpha-button-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#alpha-button-div input {
    font-family: 'Bangers', cursive;
    border: none;
    background: transparent;
    margin: 5px;
    font-size: 1.5em;
}
#alpha-button-div input:hover {
    color: rgb(152, 6, 6);
    cursor: pointer;
    transform: scale(1.8);
}

#loading-gif-container {
    display: flex;
    justify-content: center;
}
#loading-gif {
    width: 80px;
    height: 80px;
    margin-top: 40px;
}

#heroes-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    list-style: none;
}
#heroes-ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 8px;
    padding: 3px;
    width: 200px;
    height: 325px;
    border: solid;
    border-bottom-right-radius: 10px;
}
#heroes-ul li:hover {
    transform: scale(1.05);
}
#heroes-ul a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 0;
}
#heroes-ul a:hover, img:hover {
    cursor: pointer;
}
#heroes-ul img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 3px;
}
#heroes-ul p {
    font-family: 'Montserrat', sans-serif;
}

.favorite {
    box-shadow: 0 0 20px rgb(255, 217, 0);
    background-color: rgb(240, 215, 69)
}

.hidden {
    display: none;
}

#div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Bangers', cursive;
    font-size: 1.75em;
    letter-spacing: .1em;
    color: white;
    background-image: url('./assets/blackfootbackground.jpg');
    background-size: 100%;

    position: absolute;
    width: 100%;
    height: 70px;
    border: solid black;
    bottom: 0;
}
#div-footer span {
    margin-right: 20px;
}
#div-footer img {
    height: 100%;
    margin-left: 3px;
}