/* font-family: 'Bangers', cursive;
font-family: 'Oswald', sans-serif; 
font-family: 'Montserrat', sans-serif;*/

html, body {
    margin: 0;
    height: 100%;
}

#main-container {
    background-image: url('./assets/paperwhite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

#user-display img {
    border-radius: 100%;
    width: 40px;
}

#div-header {
    display: flex;
    align-items: center;

    height: 125px;
    border-bottom: solid black 5px;
    background-image: url('./assets/red-background.jpg');
}

#div-header img {
    align-self: flex-start;

    height: 125%;
    width: 350px;
}

#div-header h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.75em;
    letter-spacing: .05em;
    margin-left: 40px;
}

#nav-links-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-self: flex-end;
}

#nav-links-container a {
    margin: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#nav-links-container a:visited {
    color: white;
}

#heroes-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    list-style: none;
    
}

#heroes-ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 8px;
    padding: 3px;
    width: 200px;
    height: 300px;
    border: solid;
    border-bottom-right-radius: 10px;
}

#heroes-ul li:hover {
    transform: scale(1.05);
}

#heroes-ul a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

#heroes-ul a:hover, img:hover {
    cursor: pointer;
}

#heroes-ul img {
    max-width: 200px;
    max-height: 250px;
    
    border-radius: 3px;
}

.hidden {
    display: none;
}

.favorite {
    box-shadow: 0 0 20px rgb(255, 217, 0);
    background-color: rgb(240, 215, 69)
}
#alpha-button-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#alpha-button-div input {
    font-family: 'Bangers', cursive;
    border: none;
    background: transparent;
    margin: 5px;
    font-size: 20px;

}
#alpha-button-div input:hover {
    color: rgb(152, 6, 6);
    cursor: pointer;
    transform: scale(1.8);
}

#div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Bangers', cursive;
    font-size: 1.75em;
    letter-spacing: .1em;
    color: white;
    background-image: url('./assets/blackfootbackground.jpg');
    background-size: 100%;


    bottom: 0;
    width: 100%;
    height: 70px;
    border: solid black;
    position: absolute;
}

#div-footer span {
    margin-right: 20px;
}

#div-footer img {
    height: 100%;
    margin-left: 3px;
}