#comparison-container {
    background-image: url('../../assets/paperwhite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

#compare-form {
    display: flex;
    justify-content: center;
}

h2, input {
    font-family: 'Oswald', sans-serif;
}

#compare-form select {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

#compare-form input {
    align-self: center;
    margin-left: 20px;
}

#match-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#match-list > li {
    list-style: none;
    border: solid;
    padding: 20px;
    width: 700px;
    margin: 5px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
}

#match-list img {
    width: 180px;
    margin-left: 20px;
}

#match-list div {
    flex-grow: 1;
}