main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.about {
    margin: 10px;
    border: solid;
}

.about img {
    width: 250px;
    height: 300px;
}