main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 9px;
}

.about {
    margin: 10px;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    border-radius: 5px;
    box-shadow: 5px 10px;
}

 .left {
     margin-left: 100px
 }

.right {
    align-self: flex-end;
    margin-right: 100px;
}
.about img {
    width: 250px;
    height: 300px;
    margin: 8px;
    border-radius: 5px;
}